body {
  width: calc( 100% );
  max-width: calc( 100vw - 1em );
  overflow-x: hidden;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: azure;
}


/* navigation bar (https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_topnav) */

.topnav {
  overflow: hidden;
  /* background-color: #333; */
  /* commaderij color */
  background-color: rgb(108 50 137);
}

.topnav a {
  margin-top: 5px;
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

.logo{
  margin: 5px;
  float: left;
  width: 50px;
}

.image{
  margin: 5px;
  float: right;
  width: 150px;
}

#page-container{
  position: relative;
  min-height: 100vh;
  display: grid;
  align-content: start;
}


/* main content */
main{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  padding-bottom: 2rem;
}

article{
  display:block;
  margin-top: 5%;
}

/* footer */
footer{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-inline-end: 5%;
  text-align: center;
  /* height: 3rem; */
  /* commanderij color */
  background-color: #007fc9;
  color: white;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  main{
    padding-bottom: 4rem;
  }
}